<div>
	<h2>Trending Recipes</h2>
	<% @trending.each do |recipe| %>
		<h1><%= link_to recipe.name, recipe_path(recipe) %></h1>

		<span>Duration:</span>
		<span> <%= recipe.duration %> </span>
		<br />

		<span>Difficulty:</span>
		<span> <%= recipe.difficulty %> </span>
		<br />

		<span>Category:</span>
		<span> <%= recipe.category %> </span>
		<br />

		<span>Food Type:</span>
		<span> <%= recipe.food_type %> </span>
		<br />
		
	<% end %>
</div>

