<div class="row">
  <%= form_for @recipe do |f| %>
  	<%= f.label :name %>
  	<%= f.text_field :name %>
    
    Duration
  	<%= f.label :hours %>
    <%= f.number_field :hours %>

    <%= f.label :minutes %>
    <%= f.number_field :minutes %>

    <%= f.label :difficulty %>
    <%= f.select :difficulty, Recipe.difficulty_options %>

    <%= f.label :category %>
    <%= f.select :category, Recipe.category_options %>

    <%= f.label :food_type %>
    <%= f.select :food_type, Recipe.food_type_options %>

    <%= f.label :instructions %>
    <%= f.text_area :instructions %>

  <%= f.submit %>

  <% end %>
</div>

