<h1>Edit Recipe: </h1>

<%= render(partial: 'form') %>

<h3>Ingredients</h3>
<% @recipe.ingredients.each do |i| %>
	<% measurement = i.measurements.find_by(recipe_id: @recipe.id) %>
	<%= i.name %>
	<%= measurement.amount %>
	<%= measurement.unit %>
	<%= link_to 'Delete', ingredients_path(id: measurement.id, recipe_id: @recipe.id), method: :delete %>
	<br>
<% end %>

<%= form_for :ingredient %>
	<%= f.label :name %>
<% end %>

<%= link_to "Back", recipes_path %>


