<h1>Edit Recipe: <%= @recipe.name %></h1>

<%= render(partial: 'form') %>

<h3>Ingredients</h3>
<% @recipe.ingredients.each do |i| %>
	<% measurement = i.measurements.find_by(recipe_id: @recipe.id) %>
	<%= i.name %>
	<%= measurement.amount %>
	<%= measurement.unit %>
	<%= link_to 'Delete', ingredients_path(id: measurement.id, recipe_id: @recipe.id), method: :delete %>
	<br>
<% end %>

<h3>Add a new ingredient</h3>
<%= form_for :ingredient, url: add_one_path do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.fields_for :measurements do |i| %>
		<%= i.label :amount %>
		<%= i.number_field :amount, step: 'any' %>

		<%= i.label :unit %>
		<%= i.text_field :unit %>
	<% end %>

	<%= f.hidden_field :recipe_id, value: @recipe.id %>
	<%= f.submit %>
<% end %>

<%= link_to "Back", recipes_path %>


