<h1>Feed</h1>
<% @recipes.each do |recipe| %>
	<div>
		<h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
		<div>Time needed: <%= recipe.duration %></div>
		<div>Difficulty: <%= recipe.difficulty %></div>
		<div>Category: <%= recipe.category %></div>
		<div>Type: <%= recipe.food_type %></div>
		<h3>Instructions: </h3>
		<%= recipe.instructions %>
	</div>
	<div>
		<h3>Ingredients</h3>
		<% recipe.ingredients.each do |i| %>
			<%= i.measurements.find_by(recipe_id: recipe.id).amount %>
			<%= i.measurements.find_by(recipe_id: recipe.id).unit %>
			<%= i.name %>
			<br>
		<% end %>
	</div>

<hr/>

<h1>Trending</h1>





<h1>Suggested</h1>


<%= commontator_thread(recipe) %>

<% end %>

