<div class='containter-fluid'>
	<h1><%= @recipe.name %></h1>
	<hr />

	<span>Duration:</span>
	<span> <%= @recipe.duration %> </span>
	<br />

	<span>Difficulty:</span>
	<span> <%= @recipe.difficulty %> </span>
	<br />

	<span>Category:</span>
	<span> <%= @recipe.category %> </span>
	<br />

	<span>Food Type:</span>
	<span> <%= @recipe.food_type %> </span>
	<br />

	<span>Instructions:</span>
	<span> <%= @recipe.instructions %> </span>
	<br />

	<hr />

	<% if @recipe.image_file_name %>
		<div><%= image_tag @recipe.image.url, class: 'image' %></div>
	<% end %>

	<% if @recipe.id == current_user.id %>
		<% if @recipe.image_file_name %>
			<p><%= button_to 'Remove Image', remove_image_path(id: @recipe.id) %></p>
		<% else %>
			<%= form_for @recipe, html: { multipart: true } do |f| %>
			  <%= f.file_field :image %>
			  <br>
			  <%= f.submit 'Upload' %>
		  <% end %>
		<% end %>
	<% end %>

	<% if @recipe.user_id == current_user.id %>
		<%= link_to "Edit Recipe", edit_recipe_path(@recipe), class:'btn btn-primary' %> |
		<%= link_to "Delete", recipe_path(@recipe) ,method: :delete, data: {confirm: 'Really delete?'}, class:'btn btn-default' %> |
	<% end %>

	<div>
		<%= render 'like' %>
	</div> 
