<h1><%= @recipe.name %></h1>
<hr /> 

<span>Name:</span>
<span> <%= @recipe.name %> </span>
<br />

<span>Duration:</span>
<span> <%= @recipe.duration %> </span>
<br />

<span>Difficulty:</span>
<span> <%= @recipe.difficulty %> </span>
<br />

<span>Category:</span>
<span> <%= @recipe.category %> </span>
<br />

<span>Food Type:</span>
<span> <%= @recipe.food_type %> </span>
<br />

<span>Instructions:</span>
<span> <%= @recipe.instructions %> </span>
<br />

<hr />