<div class='row'>
	<div>
		<h1 class='center-align'>Add Ingredients</h1>
	</div>
</div>

<div class='row'>
	<%= form_tag('/ingredients') do %>
		<% 20.times do |i| %>
			<div class='row'>
				<div class='col s12 m4 offset-m2'>
					<%= label_tag "Name" %>
					<%= text_field_tag "name#{i}" %>
				</div>

				<div class='col s12 m2'>
					<%= label_tag "Amount" %>
					<%= number_field_tag "amount#{i}" %>
				</div>
				
				<div class='col s12 m2'>
					<%= label_tag "Unit" %>
					<%= text_field_tag "unit#{i}" %>
				</div>
				<br>
			</div>
		<% end %>

		<%= hidden_field_tag :recipe_id, params[:id] %>
		<%= submit_tag "Add ingredients", class: 'btn center-align' %>
	<% end %>
</div>