<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">FEED!</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <div>
            <%= form_tag('/search') do %>
                <%= text_field_tag :search_params %>
                <%= submit_tag "Search", :style => "visibility: hidden;" %>
            <% end %>
          </div>
        </li>
        <li><%= link_to "Browse", recipes_path %></li>
        <li><%= link_to "Add Recipe", new_recipe_path %></li>
        <% if current_user %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <div>
            <%= form_tag('/search') do %>
                <%= text_field_tag :search_params %>
                <%= submit_tag "Search", :style => "visibility: hidden;" %>
            <% end %>
          </div>
        </li>
        <li><%= link_to "Browse", recipes_path %></li>
        <li><%= link_to "Add", new_recipe_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</header>